.app {
    &__search {
        display: grid;
        grid-template-columns: auto 200px;
        grid-column-gap: 10px;
        margin-bottom: 10px;
    }

    &__wrapper {
        overflow: auto;
    }
}

@media (max-width: 480px) {
    .app__search {
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid #000000;
	padding: 10px;
}