.sort-panel {

    & th {
        cursor: pointer;
        background-color: aqua;

        &:hover {
            background-color: aquamarine;
        }
    }

    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 10px;
        rotate: 90deg;
        display: none;

        &.active {
            display: inline;
        }
    }
}